@model IEnumerable<DataApp.Models.ContactDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="form-border">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
